<nz-drawer nzClosable [nzVisible]="visible" nzPlacement="right" nzTitle="开关用户自定义属性管理" [nzWidth]="550"
    (nzOnClose)="close.emit()">
    <div *ngIf="loading" class="loader"><nz-spin nzSimple></nz-spin></div>
    <div *ngIf="!loading">
      <div *ngIf="list?.length > 0" class="user-properties-list">
        <div *ngFor="let prop of list; index as index" class="prop-item">
          <section>
              {{prop}}
          </section>

          <section>
              <button nz-button (click)="onEditClick(prop, index)">
                  编辑
              </button>
              <button nz-button (click)="onDeleteClick(index)">
                  删除
              </button>
          </section>
        </div>
      </div>
      <div *ngIf="!list || list?.length === 0">
        <h4 nz-typography>尚无任何自定义属性</h4>
      </div>

      <button nz-button (click)="onAddClick()" nzType="primary">
        添加新属性
      </button>
    </div>
</nz-drawer>

<nz-modal [(nzVisible)]="editVisible" nzTitle="属性名称" (nzOnCancel)="editVisible = false" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <input type="text" nz-input [(ngModel)]="propName">
    </ng-container>
</nz-modal>
