<section class="body">
    <app-layout>
        <app-nav-btns name="header" [routeUrl]="'setting'" [id]="currentSwitch?.id"></app-nav-btns>
        <div class="setting-body" name="detail" *ngIf="currentSwitch">
            <div class="info-item">
                <p>名称</p>
                <input class="name" nz-input placeholder="开关名称..." [(ngModel)]="currentSwitch.name" />
            </div>
            <div class="info-item">
                <p>KeyName</p>
                <div>
                    <input nz-input class="key" [disabled]="true" placeholder="KeyName..." [(ngModel)]="currentSwitch.keyName" />
                </div>
            </div>
            <div class="info-item">
                <button class="submit" nz-button nzType="primary" (click)="onCreateSwitch()">提交</button>
            </div>

            <button nz-button nzType="primary" nzDanger (click)="onArchiveClick()">
                存档开关（软删除）
            </button>
        </div>
    </app-layout>
</section>
