<section class="body">
    <div class="top-title">
        <div class="prefix">
            <div class="tip" [style.background]="tipColor"></div>{{type}}
        </div>
        <div class="suffix">
            <span>{{selectedUserDetailList.length}} users</span>
            <i nz-icon nzType="more" nzTheme="outline"></i>
        </div>
    </div>
    <nz-select nzMode="multiple"
               nzPlaceHolder="Select users"
               nzAllowClear
               nzShowSearch
               nzServerSearch
               [compareWith]="compareWith"
               [(ngModel)]="selectedUserDetailList"
               (ngModelChange)="onSelectChange()"
               (nzOnSearch)="onSearch($event)">
            <ng-container *ngFor="let item of userList">
                <nz-option *ngIf="!isLoading" nzCustomContent [nzValue]="item" [nzLabel]="item.name">{{item.name}}</nz-option>
            </ng-container>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
            </nz-option>
    </nz-select>
</section>