<section>
  <h5 nz-typography>机构</h5>
  <form nz-form [formGroup]="validateOrgForm" class="" [nzLayout]="'vertical'" (ngSubmit)="submitOrgForm()">
    <nz-form-item>
        <nz-form-label>机构名称</nz-form-label>
        <nz-form-control nzErrorTip="请输入机构名称！">
          <nz-input-group nzPrefixIcon="bank">
              <input type="text" nz-input formControlName="organizationName" placeholder="机构名称" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="" [nzType]="'primary'" [nzLoading]="isLoading">更新机构名称</button>
  </form>
</section>
<nz-divider></nz-divider>

<section>
  <h5 nz-typography>切换机构</h5>
  <nz-select nzShowSearch nzPlaceHolder="选择机构" [(ngModel)]="currentAccount" (ngModelChange)="onAccountChange()">
    <nz-option *ngFor="let account of allAccounts" [nzLabel]="account.organizationName" [nzValue]="account"></nz-option>
  </nz-select>
</section>
