<form nz-form [formGroup]="resetForm" (ngSubmit)="doReset()" nzLayout="vertical">
    <nz-form-item>
        <nz-form-label>邮箱</nz-form-label>
        <nz-form-control nzErrorTip="请输入邮箱！">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="email" placeholder="邮箱" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>新密码</nz-form-label>
        <nz-form-control nzErrorTip="请输入新密码！">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="新密码（至少五位）" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>重复输入新密码</nz-form-label>
        <nz-form-control nzErrorTip="请重复输入新密码！">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="_password" placeholder="新密码" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button class="form-button form-margin" [nzType]="'primary'" [nzLoading]="isLoading">提交</button>

</form>