<section class="body">
    <ng-container *ngFor="let item of upperFeatures; let key=index;">
        <div class="switch-item">
            <div class="select">
                <nz-select [(ngModel)]="item.prerequisiteFeatureFlagId" (ngModelChange)="onSelectChange($event)">
                    <ng-container *ngFor="let switch of featureList">
                        <nz-option [nzValue]="switch.id" [nzDisabled]="selectedSwitchID.includes(switch.id)" [nzLabel]="switch.name"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div class="select">
                <nz-select [(ngModel)]="item.variationValue" (onModelChange)="onVariationValueChange()">
                    <nz-option [nzValue]="true" nzLabel="True"></nz-option>
                    <nz-option [nzValue]="false" nzLabel="False"></nz-option>
                </nz-select>
            </div>
            <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteSwitch(key)"></i>
        </div>
    </ng-container>
    <button nz-button nzType="primary" (click)="onAddUpperSwitch()">添加上游开关</button>
</section>