section.rule-item {
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    height: max-content;
    padding: 10px 20px 10px 0px;

    .key {
        display: grid;
        grid-template-columns: 70px 1fr 1fr;

        .tip {
            width: 30px;
            height: 30px;
            background: #DEB887;
            border-radius: 50%;
            color: white;
            font-weight: 900;
            line-height: 30px;
            text-align: center;
        }

        .and-tip {
            height: 30px;
            font-weight: 900;
            line-height: 30px;
            color: #00000080;
        }

        .select {
            width: 100%;
            padding-right: 10px;

            nz-select {
                width: 100%;
            }
        }
    }

    .value {
        width: 100%;

        nz-select {
            width: 100%;
        }
    }

    .operator {
        justify-self: end;
        display: flex;
        align-items: center;

        i {
            cursor: pointer;
        }

        i:first-of-type {
            margin-right: 10px;
            color: #DC143C;
        }

        i:last-of-type {
            color: #008000;
        }
    }
}