<section class="body">
  <div class="content">
      <div class="switch-wrap">
          <div class="search">
              <div nz-row class="ant-row">
                  <div class="search-wrap ant-col ant-col-8" nz-col nzSpan="8">
                      <input class="ant-input" nz-input placeholder="按名字查找" [(ngModel)]="searchValue"/>
                  </div>
              </div>
          </div>
          <div class="switch-list" #listRef>
            <div *ngFor="let switch of switchs" class="switch">
              <section>
                <div class="title">
                    {{switch.name}}
                </div>
                <div class="description">
                    {{switch.keyName}}
                </div>
              </section>
              <span>存档日期：{{getLocalDate(switch.lastUpdatedTime) | date: 'YYYY-MM-dd HH:mm:ss'}}</span>

              <nz-button-group>
                <button nz-button [nzType]="'primary'">在档</button>
                <button nz-button [nzType]="'default'" (click)="onUnarchiveClick(switch)">复位</button>
              </nz-button-group>
            </div>

            <div class="mask" *ngIf="isLoading">
                <nz-spin></nz-spin>
            </div>
          </div>
      </div>
  </div>
</section>
